table tr th{
    text-transform: capitalize;
}
table tr td{
    text-transform: capitalize;
}

.modalShow{
    z-index:6 !important;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    background-color:white;
    width: 600px;
    padding: 5px;
    border-radius:20px;
}
@media (max-width: 676px) {
    .modalShow{
        width: 100% !important;
        height: 100% !important;
        top: 0;
        left: 0;
    }
    .modalShow .row{
        flex-direction: column;
    }
    .modalShow .row .form-group{
        max-width: 100%;
    }
}






